<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.carzenia">

    <application
        android:allowBackup="true"
        android:appComponentFactory="@string/app_name"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity
            android:name=".AdminAnswersActivity"
            android:parentActivityName=".AdminActivity"/>
        <activity android:name=".UserMessagesActivity" />
        <activity
            android:name=".RentalActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddAdminActivity"
            android:parentActivityName=".AdminActivity" />
        <activity
            android:name=".RemoveCarsActivity"
            android:parentActivityName=".AdminActivity" />
        <activity
            android:name=".UpdateCarActivity"
            android:parentActivityName=".AdminActivity" />
        <activity
            android:name=".DisplayCarsActivity"
            android:parentActivityName=".AdminActivity" />
        <activity
            android:name=".AddCarActivity"
            android:parentActivityName=".AdminActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>